@import url("https://fonts.googleapis.com/css?family=Rajdhani:500,600,700");

// Variables
$family-sans-serif: "Rajdhani", sans-serif;
$primary: #209cee;
$info: #00d1b2;

@import "libraries";
@import "./components/navbar.scss";
@import "./components/checkbox.scss";
@import "./components/toastr.scss";

html,
body {
  background: #f0f0f0;
  height: 100%;
}
.app {
  padding: 3rem;
}

.panel {
  padding: 1rem 3rem 3rem;
  background: white;
}

.tag {
  &.is-info {
    background-color: rgb(44, 126, 180) !important;
  }
  &.is-inactive {
    background-color: rgba(44, 126, 180, 0.5) !important;
  }
}

.hero {
  .tags {
    position: absolute;
    bottom: -3rem;
    .tag {
      cursor: pointer;
    }

    .tag:first-child {
      border-bottom-left-radius: 0rem;
    }
    .tag:last-child {
      border-bottom-right-radius: 0rem;
    }
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.image-column {
  img {
    height: 150px;
    width: 100%;
  }
}
