@import url("https://fonts.googleapis.com/css?family=Rajdhani:500,600,700");

// Variables
$family-sans-serif: "Rajdhani", sans-serif;
$primary: #424b65;
$info: #94dee0;

@import "libraries";
@import "./components/panel.scss";
@import "./components/footer.scss";
@import "./components/steps.scss";
@import "./components/carousel.scss";
@import "./components/navbarFront.scss";
@import "./components/checkbox.scss";
@import "./components/toastr.scss";
@import "./components/property.scss";
@import "./components/search.scss";
@import "../js/plugins//jquery-ui/jquery-ui.min.css";

html {
  @include until($desktop) {
    font-size: 14px !important;
  }
}
html,
body {
  background: #f0f0f0;
  height: 100%;
  background: #d7dcdc;
}
.app {
  padding: 3rem;
}

#app {
  .master {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.8) !important;

    @include until($fullhd) {
      width: 100% !important;
      min-width: 100% !important;
      max-width: 100% !important;
    }
  }

  #container {
    font-size: 14px;

    background-color: white;
    padding-top: 5rem;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-bottom: 4rem;

    @include until($desktop) {
      margin-top: 0rem;
      padding-top: 3rem;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-bottom: 3rem;
    }

    .centered-title {
      text-align: center;
      font-weight: 600;
      font-size: 1.5rem;
      padding-bottom: 0.5rem;
      border-bottom: 2px solid $info;
    }

    .page {
      padding-left: 3rem;
      padding-right: 3rem;
      font-size: 14px;
    }
  }
}

// Pages

.services {
  .service {
    padding: 2rem;
  }
  svg {
    font-size: 1.2rem;
  }
  span {
    margin-left: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
  }
  .text {
    margin-top: 1rem;
  }
}
// MODAL REGISTER
.modal {
  z-index: 200;
}

.timeslot-field {
  margin-bottom: 4px !important;
}
.timeslots {
  margin-bottom: 0rem !important;
  flex-wrap: nowrap;
  justify-content: space-between;

  .button {
    flex-grow: 1;
  }
  .button.is-info {
    color: $dark;
  }
}

.register-modal {
  .text {
    font-size: 13px;
    margin-bottom: 1rem;
  }
}

.modal {
  header {
    background-color: $primary;
    color: white;
    padding: 0.8rem 1.4rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-transform: uppercase;
    font-weight: 600;
    .close {
      cursor: pointer;
      float: right;
      top: 2px;
      position: relative;
      right: -3px;
    }
  }

  footer {
    background-color: $primary;
    color: white;
    padding: 0.8rem 1.4rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-transform: uppercase;
    font-weight: 600;
  }
}

.is-blue {
  background: #376da2;
  color: white;
  font-weight: 600;
  &:focus,
  &:hover {
    color: white;
  }
}
