.btn-activate {
  margin-bottom: 5px;
  width: 75px;
}

form {
  position: relative;

  .languages {
    position: absolute;
    top: -2rem;
  }
}

textarea {
  border-radius: 10px !important;
}

.is-loading {
  -webkit-animation: spinAround 500ms infinite linear;
  animation: spinAround 500ms infinite linear;
  border: 2px solid #dbdbdb;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: inline-block;
  height: 1em;
  position: relative;
  width: 1em;
  top: 3px;
  left: 5px;

  &.is-small {
    width: 0.8em !important;
    height: 0.8em !important;
    margin-right: 0.5rem !important;
    top: 0px;
  }
}

.column.is-centered {
  .field:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.btn-input {
  position: relative;
  .buttons {
    position: absolute;
    right: 1rem;
    top: -4px;

    button {
      opacity: 0.5;

      &.is-active {
        opacity: 1;
      }
    }
  }
  button:first-child {
    border-top-left-radius: 0.7rem;
    border-bottom-left-radius: 0rem;
  }

  button:last-child {
    border-top-right-radius: 0.7rem;
    border-bottom-right-radius: 0rem;
  }
}

table {
  font-size: 16px;

  button {
    font-size: 11px !important;
    display: inline-block !important;
  }

  .tag {
    font-size: 10px;
  }
  thead {
    tr > td {
      text-align: center !important;
      padding-bottom: 1rem !important;
      border: none !important;
    }
  }

  thead,
  tfoot {
    tr {
      th {
        span {
          cursor: pointer;
          text-align: center;
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;

          &.start {
            align-items: flex-start;
          }

          &::before {
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f106";
            display: none;
          }

          svg {
            opacity: 0;
          }

          &::after {
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f107";
            display: none;
          }

          &.sort {
            svg {
              opacity: 0.3;
              display: block;
              cursor: pointer;
            }

            &.asc {
              .fa-angle-up {
                opacity: 1;
                color: $primary;
              }
            }

            &.desc {
              .fa-angle-down {
                opacity: 1;
                color: $primary;
              }
            }
          }
        }
      }
    }
  }
}

// align

.tac {
  text-align: center !important;
}

.w-5 {
  width: 5%;
}

.uppercase {
  text-transform: uppercase;
}

.w-8 {
  width: 8%;
}

.w-10 {
  width: 10%;
}

.w-12 {
  width: 12%;
}

.w-40 {
  width: 40%;
}

.w-65 {
  width: 65%;
}

.w-70 {
  width: 70%;
}

.w-15 {
  width: 15%;
}

.w-25 {
  width: 25%;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-100 {
  width: 100% !important;
  max-width: 100% !important;

  select {
    width: 100% !important;
  }
}

.mt-5 {
  margin-top: 5rem !important;
}

.mb-5 {
  margin-bottom: 5rem !important;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-05 {
  margin-top: 0.5rem;
}

.mr-05 {
  margin-right: 0.5rem !important;
}

.mr-5px {
  margin-right: 5px !important;
}

.ml-3 {
  margin-left: 3rem !important;
}

.ml-05 {
  margin-left: 0.5rem !important;
}

.ml-5px {
  margin-left: 5px !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.tar {
  text-align: right !important;
}

.ml-05 {
  margin-left: 0.5rem !important;
}

.ml-1 {
  margin-left: 1rem;
}

.mr-half {
  margin-right: 0.5rem;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

// Extra Bulma

.is-third-tenths {
  -webkit-box-flex: 0;
  flex: none;
  width: calc(3 / 10 * 100%);
}
.is-two-tenth {
  -webkit-box-flex: 0;
  flex: none;
  width: calc(2 / 10 * 100%);
}

.is-two-sixths {
  -webkit-box-flex: 0;
  flex: none;
  width: calc(2 / 6 * 100%);
}

.is-one-sixth {
  -webkit-box-flex: 0;
  flex: none;
  width: calc(1 / 6 * 100%);
}

.no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

// Overloads

[disabled].input {
  border-color: #dbdbdb !important;
}

// Upload  list

.list {
  &.is-files {
    .list-item {
      max-height: 27px;
    }
  }

  &.is-small {
    font-size: 0.7rem !important;

    .list-item {
      overflow: hidden;
      min-height: 27px;

      .icon {
        position: relative;
        float: right;
        padding: 6px 8px 5px;
        top: -6px;
        right: -12px;
        text-align: center;
        width: 30px;
        height: 27px;
      }
    }
  }
}
.no-margin {
  margin: 0rem !important;
}
.ui-widget.ui-widget-content {
  height: 4px;
  background-color: #424b65;
  border: none;
  position: relative;
  top: 6px;
  margin-bottom: 10px;
}

.ui-state-default {
  outline: none !important;
  border-radius: 30px !important;
  height: 20px !important;
  width: 20px !important;
  background: $info !important;
  border: 3px solid $info !important;
  top: -8px !important;

  &:hover,
  &:focus {
    border: 3px solid $primary !important;

    font-weight: normal;
    color: #fff;
  }
}

//TAGS BULMA OVERLOAD

.tag.is-small {
  font-size: 10px !important;
  line-height: 10px !important;
  height: 16px !important;
  font-weight: 600 !important;
}

// TABLE BULMA OVERLOAD

table {
  tfoot {
    tr {
      th {
        padding-top: 10px !important;
        font-size: 13px;
      }
    }
  }
}
