.carousel {
  width: 100%;
  height: 400px;

  @include until($desktop) {
    height: 185px !important;
  }

  position: relative;
  text-align: center;
  z-index: 100;
  button {
    margin-top: 4rem;
    font-weight: 700;

    @include until($desktop) {
      margin-top: 1rem;
    }
  }
  div {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;

    @include animate(all, 500ms, ease);

    &.is-active {
      opacity: 1;
    }
  }
  section {
    text-shadow: 2px 2px 5px $primary;
    position: relative;
    z-index: 100;
    display: inline-block;
    width: inherit;
    opacity: 1;
    font-size: 2.3rem;
    margin-top: 4rem;
    font-weight: 700;
    color: white;

    @include until($tablet) {
      font-size: 1.5rem;
    }
  }
}
