.checkbox-control {
  position: relative;
  &.inline {
    .label {
      position: absolute;
      left: 1.4rem;
      margin-top: 2px;
    }
  }
}

.is-selected {
  [type="checkbox"] {
    &:checked {
      + label {
        &::after {
          border-left: 2.5px solid #ffffff;
          border-bottom: 2.5px solid #ffffff;
        }
      }
    }
  }
}

[type="checkbox"] {
  position: relative;
  display: block;
  cursor: pointer;
  opacity: 0;
  top: 5px;
  width: 13px;
  height: 13px;
  z-index: 121;

  &:checked {
    + label {
      &::after {
        border-left: 2.5px solid $primary;
        border-bottom: 2.5px solid $primary;
        content: " ";
        width: 14px;
        height: 8px;
        position: absolute;
        top: -2px;
        display: inline-block;

        left: 2px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
      }
    }
  }

  + label {
    position: absolute;

    cursor: pointer;
    font-size: 12px;
    border: 1px solid #dbdbdb;
    width: 13px;
    height: 13px;
    border-radius: 2px;
    margin-top: -9px;
  }
}
