footer {
  background-color: $primary;
  padding: 3rem 5rem 2rem;
  @include until($desktop) {
    text-align: center !important;
  }
  .centered-title {
    font-size: 1.3rem !important;
    text-align: left !important;
    padding-bottom: 0.3rem !important;
    margin-bottom: 2rem;

    @include until($desktop) {
      text-align: center !important;
    }
  }

  .nav {
    margin-bottom: 1rem;
    a {
      color: white;
      display: block;
      padding-bottom: 0.7rem;
      font-size: 14px;
      font-weight: 600;
    }
  }
  .copyright {
    text-align: right;
    font-size: 12px;

    @include until($desktop) {
      text-align: center !important;
    }
  }

  .languages {
    @include until($desktop) {
      text-align: center !important;
      margin-top: 2rem;
      justify-content: center !important;
    }
  }
  .social {
    color: white;
    text-align: right;
    font-weight: 600;

    @include until($desktop) {
      text-align: center !important;
      margin-top: 2rem;
    }

    nav {
      a {
        color: $primary;
        margin-left: 1rem;
        display: inline-block;
        background-color: $info;
        width: 2.5rem;
        height: 2.5rem;
        text-align: center;
        padding-top: 12px;
        border-radius: 2rem;
        font-size: 14px !important;

        @include until($desktop) {
          line-height: 1rem !important;
          width: 3rem !important;
          height: 3rem !important;
        }
      }
    }
  }

  .languages {
    .button {
      font-size: 10px !important;
      font-weight: 600;
      background-color: #5c6580;
      color: white;

      &:hover,
      &.is-active {
        opacity: 1;
        background-color: $info;
        color: $dark;
      }
    }
  }
}
