.navbar {
  z-index: 110;
  background-color: $primary;
  padding: 0.75rem;
  height: 90px;

  .fa-sliders-h {
    color: #93dee0;
    position: absolute;
    right: 5rem;
    font-size: 1.8rem;
    top: 1.7rem;
    cursor: pointer;
    @include from($desktop) {
      position: absolute;
      left: 12px;
      top: 7.6rem;
      color: #424b65;
      font-size: 1.5rem;
    }
  }

  @include until($desktop) {
    height: 70px !important;
  }

  .navbar-burger {
    color: $white !important;
    margin-right: 5px;
    cursor: pointer;
    &:hover {
      background-color: transparent !important;
    }

    span {
      height: 2px;
      width: 25px;

      &:nth-child(2) {
        margin-top: 1px;
      }
      &:nth-child(3) {
        margin-top: 2px;
      }
      &:nth-child(4) {
        top: calc(50% + 12px);
      }
    }
  }

  .navbar-dropdown {
    border: none !important;
    left: -50px;
    padding: 1rem !important;

    .navbar-item {
      color: $dark;
      font-size: 14px;
      padding: 0.7rem 1rem !important;
      border-bottom: 1px solid #d7dcdc !important;

      &:last-child {
        border: none !important;
      }

      &:hover {
        color: $info;
      }

      font-weight: 600;
      &::after {
        display: none;
      }
    }
  }

  .navbar-brand {
    img {
      width: 200px;
      max-height: initial !important;

      @include until($desktop) {
        width: 150px;
      }
    }
  }

  .navbar-menu {
    position: relative;
    margin-top: 0.5rem;
    margin-left: auto;
    flex-grow: unset;
    margin-right: 2rem !important;

    @include until($desktop) {
      background-color: $primary;
      margin-left: -1rem;
      margin-right: -1rem !important;
      text-align: center;

      .navbar-item {
        font-size: 1rem !important;
        text-transform: uppercase;
        color: $white !important;
        border: none !important;
        cursor: pointer;

        &.has-dropdown {
          padding-bottom: 1rem !important;
        }

        .text {
          font-size: 1rem !important;
          font-weight: 600 !important;
        }

        &:hover {
          background-color: transparent;
          color: $info !important;

          .text {
            color: $info !important;
          }
        }
        &::after {
          display: none !important;
        }
      }
    }
  }

  .navbar-item {
    color: $white;
    cursor: pointer;

    &.logo {
      cursor: pointer;
      &::after {
        display: none !important;
      }
    }

    &::after {
      content: "";
      height: 3px;
      width: 0%;
      background-color: $info;
      position: absolute;
      position: absolute;
      top: 2.8rem;
      left: 0px;
      @include animate(all, 300ms, ease);
    }

    &:hover,
    &.is-active {
      &::after {
        width: 100%;
      }
    }
  }
  &.menu {
    .has-dropdown {
      padding: 0.5rem 0.75rem !important;
      padding-bottom: 62px !important;
    }

    .navbar-item {
      flex-direction: column;

      .text {
        margin-top: 1rem;
        text-transform: uppercase;
        font-size: 0.9rem;
        font-weight: 700;
        color: $white !important;
      }

      .text-drop {
        margin-top: 1rem;
        text-transform: uppercase;
        font-size: 0.9rem;
        font-weight: 700;
      }

      svg {
        font-size: 2rem;
      }
    }
  }
}
