.navbar {
  z-index: 110;

  .navbar-item {
    &:hover,
    &.is-active {
      color: white;
      height: 2rem;
    }
  }
  &.menu {
    .navbar-item {
      min-height: 5rem;
      cursor: pointer;
      flex-direction: column;
      margin-left: 1.2rem;
      margin-right: 1.2rem;

      .text {
        margin-top: 1rem;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 600;
      }

      svg {
        font-size: 2rem;
      }
    }
  }
}
