.custom-panel {
  width: 100%;
  position: relative;

  &.is-active {
    .block {
      display: block;
    }
  }

  &:first-of-type {
    .heading {
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
    }
  }

  &:last-of-type {
    .heading {
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }

    &.is-active {
      .heading {
        border-bottom-left-radius: 0rem !important;
        border-bottom-right-radius: 0rem !important;
      }
    }
  }
  .heading {
    cursor: pointer;
    text-align: left;
    background-color: $primary;
    color: white;
    padding: 0.7rem 1rem;
    font-weight: 600;
    font-size: 1rem !important;
  }

  .block {
    position: relative;
    text-align: justify;
    display: none;
    padding: 1rem;
  }
}

.panel {
  border: 1px solid #424b65;
  border-radius: 10px;
  overflow: hidden;
  .panel-heading {
    font-size: 15px;
    font-weight: 600;
    padding-left: 1rem;
    padding-right: 1rem;
    border: none;
    &.primary {
      background-color: $primary;
      color: $white;
    }
  }

  .body {
    padding: 1rem;
  }
}
