.property-two {
  .awaiting {
    max-height: 94px !important;

    @include until($desktop) {
      height: 150px;
      max-height: 150px !important;
      position: relative;
    }
  }

  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 3rem;
  .title {
    font-size: 1rem !important;
    font-weight: 700;
    border: none;
    text-align: justify;
    word-break: break-all;
  }

  .text {
    font-size: 12px;
    text-align: justify;
    word-break: break-all;
  }

  .is-three-fifths {
    position: relative;
    min-height: 87px;
    .wrapper {
      padding-left: 10px;
    }
  }

  .is-two-fifths {
    position: relative;
    img {
      position: absolute;
      height: 105px;
      width: 100%;

      @include until($desktop) {
        height: 150px;
        position: relative;
      }
    }
  }

  .details {
    padding-left: 5px !important;
  }

  .btn-more {
    font-size: 9px;
    position: absolute;
    right: 3px;
    bottom: -20px;
    font-weight: 600;
  }
}

.card-property-v {
  position: relative;
  line-height: 0rem;

  @include until($desktop) {
    img {
      width: 100%;
    }
  }

  cursor: pointer;
  &:hover {
    .overlay {
      background-color: transparent;
    }

    button {
      color: $dark;
    }
  }
  .top-wrapper {
    color: $dark;
    text-align: center;
    background-color: $info;
    font-weight: 600;
    padding: 1rem 0.5rem 0.5rem;
    line-height: 1.2rem;

    .card-title {
      font-weight: 700;
    }

    h6 {
      padding-bottom: 0.2rem;
    }

    .location {
      font-size: 15px;
      padding-top: 0rem !important;
    }

    svg {
      color: $white;
      margin-right: 5px;
    }
  }

  .price {
    z-index: 109;
    line-height: 2rem;
    margin-top: 2rem;
    position: absolute;
    /* text-align: center; */
    width: 100%;
    color: white;
    text-align: center;
    font-size: 1.3rem;

    h3 {
      font-weight: 600;
    }
  }

  .overlay {
    background-color: rgba(1, 1, 1, 0.3);
    height: 150px;
    position: absolute;
    z-index: 101;
    width: 100%;
    @include animate(all, 500ms, ease);

    @include until($desktop) {
      height: calc(100% - 7.2rem) !important;
    }
  }

  .card-body {
    font-size: 12px;
    background-color: $primary;
    line-height: 1.1rem;
    color: white;
    padding: 0.7rem 0.7rem 1rem;

    button {
      font-size: 10px;
      position: absolute;
      right: 6px;
      bottom: 7px;
      padding: 2px 8px 2px;
      height: 20px;
      @include animate(all, 500ms, ease);
      font-weight: 600;
    }
  }
}
