// Extra Container added here to facilitate to llooup here search format is includede
//No part o search control but related
#container.properties {
  padding-top: 2rem !important;
  padding-left: 3rem !important;
  padding-right: 3rem !important;
  padding-bottom: 4rem !important;
}

.search-column {
  display: block;
  @include until($desktop) {
    margin-bottom: 2rem;
  }

  &.hidden {
    display: none;
  }
}

.search {
  @include until($desktop) {
    .columns {
      display: flex;
    }
  }
  #amount {
    border: 0;
    color: #f6931f;
    font-weight: bold;
    width: 160px;
  }
  .title {
    font-size: 1.2rem;
    font-weight: 500;
    width: 100%;
    padding-bottom: 0rem;
    border-bottom: 2px solid $info;
  }
  .collapse {
    float: right;
    font-size: 1.2rem;
    position: relative;
    top: 6px;
    right: 5px;
    cursor: pointer;

    &:hover {
      color: $info;
    }
  }

  .small {
    color: $primary;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
  }
}

.sorts {
  .control {
    width: 120%;

    .tag:first-child {
      width: 70%;
    }
  }
}

.pagination-list {
  li {
    border-radius: 32px;
    width: 26px;
    height: 26px;
    font-size: 12px;
    margin-right: 10px;
  }
  .is-current {
    background-color: $info;
    color: $dark;
    border: 1px solid $info;
  }
}

.pagination-previous,
.pagination-next {
  position: relative;
  top: 4px;
}

.results {
  margin-top: 0.9rem;
  font-size: 13px;
  font-weight: 600;
}
/// Regarding properties display

.property-details {
  .title {
    font-size: 1.4rem;
    font-weight: 600;
  }

  .location-price {
    margin-top: 1rem !important;
    font-size: 1.2rem;
    svg {
      color: $info;
      margin-right: 0.2rem;
    }
    .price {
      font-weight: 700;
      color: $primary;
    }
    .tag {
      font-size: 0.9rem;
      &.price {
        font-weight: 700;
      }
    }
  }

  .description {
    margin-top: 1rem !important;
    line-height: 1.5rem;
    font-weight: 600;
  }

  .column-title {
    margin-top: 1rem !important;
    background-color: $info;
    text-align: center;
    font-weight: 700;
    padding: 0.2rem 0.5rem;
    font-size: 14px;
  }
  .column-key {
    font-size: 12px;
    background-color: $primary;
    font-weight: 600;
    color: $white;
    text-align: left;
    padding: 0.3rem 0.5rem;
    max-height: 26px;
  }

  .column-value {
    font-size: 14px;
    font-weight: 600;
    text-align: right;
    padding: 0.3rem 0.5rem;
    max-height: 26px;
  }
}
