.steps {
  .column {
    text-align: center;
    span {
      background-color: $primary;
      color: white;
      padding: 0.67rem 0.4rem;
      border-radius: 9rem;
      width: 3rem;
      height: 3rem;
      display: inline-block;
      position: relative;
      font-size: 1.3rem;
      font-weight: 700;
      margin-bottom: 2rem;
    }

    p {
      font-size: 13px;
      margin-bottom: 0.6rem;
    }
  }
}
