#toast-container {
  opacity: 1;

  .toast {
    box-shadow: none !important;

    .toast-message {
      text-align: center;
    }

    button {
      font-size: 11px;
      margin-left: 5px;
    }
  }
}

#toast-container > div {
  opacity: 1 !important;
}

.toast-info {
  background-color: $info;
  border: none;

  &:hover {
    border-bottom: 1px solid $light;
  }
}
.toast-success {
  background-color: $primary;
  border: none;

  &:hover {
    border-bottom: 1px solid $light;
  }
}

.toast-warning {
  &.confirm {
    background-color: $danger;
  }
}

.toast-error {
  background-color: $danger;

  &:hover {
    border-bottom: 1px solid $danger;
  }
}
