<template>
  <div class="field">
    <label
      v-if="label.length > 0"
      class="label is-small"
      v-text="label"
    ></label>

    <div class="field has-addons">
      <p class="control">
        <a
          :name="name"
          class="button is-primary is-small is-rounded"
          :disabled="value == 0"
          @click.prevent="updateValue(1)"
        >
          <span v-text="activeText"></span>
        </a>
      </p>
      <p class="control">
        <a
          :name="name"
          :disabled="value == 1"
          class="button is-danger is-small is-rounded"
          @click.prevent="updateValue(0)"
        >
          <span v-text="inactiveText"></span>
        </a>
      </p>
    </div>
    <p class="help is-danger" v-text="error"></p>
  </div>
</template>
<script>
export default {
  name: 'Active',
  props: {
    name: {
      type: String,
      default: () => ''
    },
    activeText: {
      type: String,
      default: () => 'ACTIVE'
    },
    inactiveText: {
      type: String,
      default: () => 'INACTIVE'
    },
    label: {
      type: String,
      default: () => ''
    },
    model: {
      type: String,
      default: () => ''
    },
    error: {
      type: String,
      default: () => ''
    },
    event: {
      type: Function,
      default: () => null
    }
  },
  computed: {
    value() {
      return this.$attrs.value
    }
  },
  methods: {
    updateValue(value) {
      this.$emit('input', value)

      if (this.event !== null) this.event(value)
    }
  }
}
</script>
<style lang="scss">
.button {
  cursor: pointer !important;
}
</style>
