<template>
  <div class="carousel">
    <div
      v-for="(slide, index) in slides"
      :key="index"
      v-bind:style="{ backgroundImage: 'url(' + slide.image + ')' }"
      :class="{'is-active': slide.isActive}"
    >
      <section v-if="slide.text !== undefined && slide.text.length > 0" v-text="slide.text"></section>
      <button
        class="button is-primary is-rounded"
        @click="slide.btn.click()"
        v-if="slide.btn !== undefined && slide.btn.text.length > 0"
        v-text="slide.btn.text"
      ></button>
    </div>
  </div>
</template>

<script>
import { setInterval } from "timers";
export default {
  props: {
    slides: {
      type: Array,
      default: () => []
    },
    timeout: {
      type: Number,
      default: () => 5000
    }
  },
  mounted() {
    let local = this;

    setInterval(() => {
      let activeOne = this.slides.find(slide => slide.isActive);
      let indexActive = this.slides.indexOf(activeOne);
      let nextIndex = 0;

      if (indexActive < this.slides.length - 1) nextIndex = indexActive + 1;

      // Desactivate slides
      this.slides[nextIndex].isActive = true;
      this.slides[indexActive].isActive = false;
    }, local.timeout);
  }
};
</script>

