<template>
  <div class="field">
    <label
      v-if="label.length > 0"
      class="label is-small"
      v-text="label"
    ></label>
    <input type="hidden" name="roles" />
    <div class="field has-addons">
      <p v-for="(item, index) in list" :key="index" class="control">
        <a
          :name="item"
          class="button is-primary is-small is-rounded"
          :disabled="!hasValue(item)"
          @click.prevent="updateValue(item)"
        >
          <span v-text="item.toUpperCase()"></span>
        </a>
      </p>
    </div>
    <p class="help is-danger" v-text="error"></p>
  </div>
</template>
<script>
export default {
  name: 'Roles',
  props: {
    list: {
      type: Array,
      default: () => []
    },
    name: {
      type: String,
      default: () => ''
    },
    label: {
      type: String,
      default: () => ''
    },
    model: {
      type: String,
      default: () => ''
    },
    error: {
      type: String,
      default: () => ''
    }
  },

  methods: {
    hasValue(value) {
      return this.$attrs.value.find(item => item === value)
    },
    updateValue(value) {
      if (!this.$attrs.value.find(item => item === value)) {
        this.$attrs.value.push(value)
      } // remove the role
      else this.$attrs.value.splice(this.$attrs.value.indexOf(value), 1)

      // update the field
      this.$emit('input', this.$attrs.value)
    }
  }
}
</script>

<style lang="scss">
.button {
  cursor: pointer !important;
}
</style>
