<template>
  <div :id="id"></div>
</template>

<script>
export default {
  name: 'Editor',
  props: {
    event: {
      type: String,
      default: () => 'editor-event'
    },
    toolbar: {
      type: String,
      default: () => 'basic'
    }
  },
  data() {
    return {
      id:
        'editor' +
        Math.random()
          .toString(36)
          .substring(7),
      loadingInterval: null
    }
  },
  mounted() {
    const local = this

    // Check if instance name exists and detroys it
    // We have to destroy and recreated beacasue of rendering issues
    if (window.CKEDITOR.instances[this.id] !== undefined)
      window.CKEDITOR.instances[this.id].destroy()

    // Reaplce toolbak by the prop toolbar
    if (local.toolbar !== undefined) {
      window.CKEDITOR.replace(local.id, {
        toolbar: local.toolbar
      })
    } else window.CKEDITOR.replace(local.id)

    // get the instance of the editor
    const editor = window.CKEDITOR.instances[this.id]

    // detect change
    editor.on('change', function(e) {
      if (e.editor !== undefined) {
        const data = e.editor.getData()
        window.bus.$emit(local.event, data)
      }
    })

    // update editor
    window.bus.$on(this.event + '-child', content => {
      // console.log("instance " + this.id);
      // console.log(this.event + "-child");

      // console.log(editor, content);
      if (content == null) content = ''

      if (
        editor !== undefined &&
        editor !== null &&
        content !== null &&
        editor.getData() != null
      )
        editor.setData(content)
    })
  }
}
</script>
