<template>
  <div class="field">
    <label
      v-if="label.length > 0"
      class="label is-small"
      v-text="label"
    ></label>

    <div class="field has-addons">
      <p class="control">
        <a
          :name="name"
          class="button is-primary is-small is-rounded"
          :disabled="value == 0"
          @click.prevent="updateValue(1)"
        >
          <span class="icon is-small">
            <icon :icon="['fas', 'mars']" />
          </span>
          <span>Male</span>
        </a>
      </p>
      <p class="control">
        <a
          :name="name"
          :disabled="value == 1"
          class="button is-danger is-small is-rounded"
          @click.prevent="updateValue(0)"
        >
          <span class="icon is-small">
            <icon :icon="['fas', 'venus']" />
          </span>
          <span>Female</span>
        </a>
      </p>
    </div>
    <p class="help is-danger" v-text="error"></p>
  </div>
</template>
<script>
export default {
  name: 'Gender',
  props: {
    name: {
      type: String,
      default: () => ''
    },
    label: {
      type: String,
      default: () => ''
    },
    model: {
      type: String,
      default: () => ''
    },
    error: {
      type: String,
      default: () => ''
    }
  },
  computed: {
    value() {
      return this.$attrs.value
    }
  },
  methods: {
    updateValue(value) {
      this.$emit('input', value)
    }
  }
}
</script>

<style lang="scss">
.button {
  cursor: pointer !important;
}
</style>
