<template>
  <div class="field btn-input">
    <div v-if="!unique" class="buttons has-addons">
      <button
        @click="setLanguage(index)"
        class="button is-primary is-small is-rounded"
        v-for="(lang, index) in languages"
        :key="index"
        v-text="lang"
        :class="{ 'is-active' :  language == lang }"
      />
    </div>
    <label v-if="label.length > 0" class="label is-small" v-text="label"></label>
    <div :id="id" />
    <p class="help is-danger" v-text="error"></p>
  </div>
</template>

<script>
export default {
  props: {
    error: {
      type: String,
      default: () => ""
    },

    event: {
      type: String,
      default: () => ""
    },

    unique: {
      type: Boolean,
      default: () => false
    },
    label: {
      type: String,
      default: () => ""
    },
    toolbar: {
      type: String,
      default: () => "verybasic"
    },
    languages: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      id: "editor-" + +new Date(),
      language: this.languages[0],
      editor: null
    };
  },
  methods: {
    setLanguage(index) {
      this.language = this.languages[index];
      if (this.unique) {
        this.$attrs.value[this.language] = this.$attrs.value[this.language];
        this.editor.setData(this.$attrs.value[this.language]);
      } else this.editor.setData(this.$attrs.value);
    }
  },
  mounted() {
    // Create a local instance
    let local = this;

    // Check if instance name exists and detroys it
    // We have to destroy and recreated beacasue of rendering issues
    if (window.CKEDITOR.instances[this.id] !== undefined)
      window.CKEDITOR.instances[this.id].destroy();

    // Reaplce toolbak by the prop toolbar
    if (local.toolbar !== undefined) {
      window.CKEDITOR.replace(local.id, {
        toolbar: local.toolbar
      });
    } else window.CKEDITOR.replace(local.id);

    // get the instance of the editor
    local.editor = window.CKEDITOR.instances[this.id];

    // set the value for the model
    local.editor.setData(this.$attrs.value);

    // detect change
    local.editor.on("change", function(e) {
      if (e.editor !== undefined) {
        const data = e.editor.getData();
        if (!local.unique) {
          local.$attrs.value[local.language] = data;
          local.$emit("input", local.$attrs.value);
        } else local.$emit("input", data);
      }
    });

    Bus.$on(this.event + "-update", value => {
      local.editor.setData(value);
    });
  }
};
</script>
