<template>
  <div class="field btn-input">
    <div v-if="!unique" class="buttons has-addons">
      <button
        @click="setLanguage(index)"
        class="button is-primary is-small is-rounded"
        v-for="(lang, index) in languages"
        :key="index"
        v-text="lang"
        :class="{ 'is-active' :  language == lang }"
      />
    </div>
    <vinput
      v-if="unique"
      :multiline="multiline"
      :value="$attrs.value"
      :label="label"
      :event="valueChange"
    />
    <vinput
      v-if="!unique"
      :multiline="multiline"
      :label="label"
      v-model="$attrs.value[language]"
      :event="valueChange"
    />
    <p class="help is-danger" v-text="error"></p>
  </div>
</template>

<script>
export default {
  props: {
    multiline: {
      type: Boolean,
      default: () => false
    },
    unique: {
      type: Boolean,
      default: () => false
    },
    label: {
      type: String,
      default: () => ""
    },
    error: {
      type: String,
      default: () => ""
    },
    languages: {
      type: Array,
      default: () => []
    },
    event: {
      type: Function,
      default: () => null
    }
  },
  data() {
    return {
      language: this.languages[0]
    };
  },
  methods: {
    setLanguage(index) {
      this.language = this.languages[index];
      if (this.unique) this.$attrs.value = this.$attrs.value;
      else this.$attrs.value[this.language] = this.$attrs.value[this.language];
    },
    valueChange(value) {
      if (this.unique) this.$emit("input", value);
      else this.$attrs.value[this.language] = value;

      if (this.event !== null) this.event(value);
    }
  }
};
</script>
