<template>
  <nav class="navbar menu float">
    <div v-if="brand" class="navbar-brand">
      <a class="navbar-item logo" href="/">
        <img src="/images/logo_full.png" />
      </a>

      <span v-show="searchFilterButton && hiddenSearch === true" @click="searchCollapse">
        <i class="fas fa-sliders-h collapse"></i>
      </span>
      <a role="button" class="navbar-burger burger" @click="isActive = !isActive">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu" :class="{'is-active' : isActive }">
      <div
        v-show="exception(item)"
        @click="menu.getUrl(index, container)"
        v-for="(item, index) in menu.items"
        :key="index"
        class="navbar-item"
        :class="{'is-active': item.isActive}"
      >
        <icon v-show="item.icon !== null" :icon="item.icon" />
        <div class="text" v-text="item.name"></div>
        <!-- <div
              class="create"
              @click="menu.getUrl(index, container, item.create)"
              v-if="item.create"
        >CREATE</div>-->
      </div>

      <div v-if="user.id !== undefined && frontend" class="navbar-item has-dropdown is-hoverable">
        <div class="text-drop" v-text="user.name"></div>
        <div class="navbar-dropdown">
          <a
            v-if="user.isAdmin || user.isEmployee"
            href="/users"
            class="navbar-item"
          >EDIFICIUS MODULE</a>
          <a
            v-if="user.isAdmin || user.isCallCenter"
            href="/communications"
            class="navbar-item"
          >COMMUNICATION MODULE</a>
          <a href="/profile" class="navbar-item">PROFILE</a>
          <a href="/logout" class="navbar-item">LOGOUT</a>
        </div>
      </div>
    </div>
  </nav>
</template>
<script>
export default {
  name: "Navbar",
  props: {
    user: {
      type: Object,
      default: () => {}
    },

    brand: {
      type: Boolean,
      default: () => false
    },
    container: {
      type: String,
      default: () => ".app"
    },
    setMode: {
      type: Function,
      default: () => null
    },
    menu: {
      type: Object,
      default: () => []
    },
    frontend: {
      type: Boolean,
      default: () => false
    }
  },

  computed: {
    searchFilterButton() {
      return location.pathname == "/search";
    }
  },
  data() {
    return {
      loaded: false,
      isActive: false,
      hiddenSearch: false
    };
  },

  methods: {
    searchCollapse() {
      if (window.innerWidth > 767) this.hiddenSearch = false;
      Bus.$emit("search-collapse");
    },
    exception(item) {
      let allow = true;

      if (item.name === "login" && this.user.id !== undefined) allow = false;

      if (item.name === "logout" && this.frontend) allow = false;

      if (item.name === "logout" && this.user.id === undefined) allow = false;

      return allow;
    }
  },
  mounted() {
    console.log("navbr");
    window.nav = this;

    Bus.$on("close-menu", () => {
      this.isActive = false;
    });

    Bus.$on("navbar-collapse-search", value => {
      this.hiddenSearch = value;
    });

    if (window.innerWidth < 767) this.hiddenSearch = true;
  }
};
</script>
