<template>
  <div class="column is-half-tablet is-one-third-desktop property-two" @click="view()">
    <div class="columns is-gapless">
      <div class="column is-two-fifths">
        <img v-if="property.images.length == 0" class="awaiting" src="/images/awaiting.png" alt />
        <img
          v-if="property.images.length > 0"
          :src="`/data/properties${property.images[0].path}`"
          alt
        />
      </div>
      <div class="column is-three-fifths details">
        <div class="wrapper">
          <div
            class="title"
            v-if="property.title[language] != null"
          >{{ property.title[language] | substr(0,35)}}</div>
          <div
            class="title"
            v-else-if="property.title[defaultLanguage]"
          >{{ property.title[defaultLanguage] | substr(0,35)}}</div>

          <div
            class="text"
            v-if="property.description[language] != null"
          >{{ property.description[language] | htmlText(60) }}</div>

          <div
            class="text"
            v-else-if="property.description[defaultLanguage] != null"
          >{{ property.description[defaultLanguage] | htmlText(60) }}</div>
          <button class="button is-primary is-small is-rounded btn-more">MORE</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "PropertyTwo",
  data() {
    return {
      gyield: ""
    };
  },
  props: {
    property: {
      type: Object,
      default: () => null,
      required: true
    },
    cssClass: {
      type: String,
      required: false
    },
    defaultLanguage: {
      type: String,
      required: true
    },
    language: {
      type: String,
      required: true
    },
    canton: {
      type: String,
      default: () => "",
      required: true
    },
    flow: {
      type: String,
      required: false
    }
  },
  methods: {
    view() {
      if (this.flow != undefined && this.flow.length > 0)
        window.location = this.property.alias[this.language];
      else Bus.$emit("view-property", this.property);
    }
  },
  mounted() {
    //this.gyield = dictionary["g.yield"][this.language];
  }
};
</script>
