<template>
  <div :class="'card card-property-v ' + cssClass" @click="view()">
    <div class="top-wrapper">
      <h6
        class="card-title bold"
        v-if="property.title[language] != null"
      >{{ property.title[language] | substr(0, 26)}}</h6>

      <h6
        v-else-if="property.title[defaultLanguage]"
        class="card-title bold"
      >{{ property.title[defaultLanguage] | substr(0, 26)}}</h6>

      <h6 class="location">
        <i class="fas fa-map-marker-alt property-marker"></i>
        <span v-text="canton"></span>
        <span
          v-if="property.meta.address.postcode != undefined && property.meta.address.postcode.length > 0"
          v-text="' - ' + property.meta.address.postcode"
        ></span>
      </h6>
    </div>

    <span class="price">
      <h3>{{ property.price | currency2('CHF')}}</h3>
      <h5>{{ gyield }} {{ property.gross_yield | perc()}}</h5>
    </span>
    <div class="overlay"></div>
    <img v-if="property.images.length == 0" class="awaiting" src="/images/awaiting.png" alt />
    <img
      v-if="property.images.length > 0"
      :src="`/data/properties/${property.id}/images/thumb_${property.images[0].name}`"
      alt="preview"
    />

    <div class="card-body">
      <div
        v-if="property.description[language] != null"
      >{{ property.description[language] | htmlText(40) }}</div>

      <div
        v-else-if="property.description[defaultLanguage] != null"
      >{{ property.description[defaultLanguage] | htmlText(40) }}</div>

      <button class="button is-info is-small is-rounded btn-more">MORE</button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      gyield: "",
      language: "",
      defaultLanguage: ""
    };
  },
  props: {
    property: {
      type: Object,
      default: () => null,
      required: true
    },
    cssClass: {
      type: String,
      required: false
    },
    canton: {
      type: String,
      default: () => "",
      required: true
    },
    flow: {
      type: String,
      required: false
    }
  },
  methods: {
    view() {
      if (this.flow != undefined && this.flow.length > 0)
        window.location = this.property.alias[this.language];
      else Bus.$emit("view-property", this.property);
    }
  },
  mounted() {
    //this.gyield = dictionary["g.yield"][this.language];
    this.language = window.language;
    this.defaultLanguage = window.defaultLanguage;
    console.log(this.property);
  }
};
</script>
