<template>
  <div class="field">
    <label v-if="label.length > 0" class="label is-small" v-text="label"></label>
    <input type="hidden" name="roles" />
    <div class="field has-addons">
      <p class="control">
        <a
          :name="name"
          class="button is-primary is-small is-rounded"
          :disabled="!hasRole(1)"
          @click.prevent="updateValue(1)"
        >
          <span>ADMIN</span>
        </a>
      </p>
      <p class="control">
        <a
          :name="name"
          :disabled="!hasRole(2)"
          class="button is-primary is-small is-rounded"
          @click.prevent="updateValue(2)"
        >
          <span>EMPLOYEE</span>
        </a>
      </p>
      <p class="control">
        <a
          :name="name"
          :disabled="!hasRole(3)"
          class="button is-primary is-small is-rounded"
          @click.prevent="updateValue(3)"
        >
          <span>CALL CENTER</span>
        </a>
      </p>
      <p class="control">
        <a
          :name="name"
          :disabled="!hasRole(4)"
          class="button is-primary is-small is-rounded"
          @click.prevent="updateValue(4)"
        >
          <span>CLIENT</span>
        </a>
      </p>
    </div>
    <p class="help is-danger" v-text="error"></p>
  </div>
</template>
<script>
export default {
  name: "Roles",
  props: {
    name: {
      type: String,
      default: () => ""
    },
    label: {
      type: String,
      default: () => ""
    },
    model: {
      type: String,
      default: () => ""
    },
    error: {
      type: String,
      default: () => ""
    },
    disabled: {
      type: Boolean,
      default: () => false
    }
  },
  computed: {
    value() {
      return this.$attrs.value;
    }
  },
  mounted() {
    console.log(this.roles);
    this.roles = this.value;
  },
  methods: {
    hasRole(value) {
      return this.$attrs.value.find(role => role === value);
    },
    updateValue(value) {
      if (this.disabled) return;

      if (!this.$attrs.value.find(role => role === value)) {
        // if role is admin, check if there is other roles clear all roles
        if (value === 1 && this.$attrs.value.find(role => role !== 1))
          this.$attrs.value = [];

        // if roles is not admin remove admin role cause admin has all roles
        if (value !== 1 && this.$attrs.value.find(role => role === 1))
          this.$attrs.value.splice(this.roles.indexOf(1), 1);

        // add the roles
        this.$attrs.value.push(value);
      } // remove the role
      else this.$attrs.value.splice(this.$attrs.value.indexOf(value), 1);

      // if is call center check if employee is added cause call-cneter should an employee too
      if (
        value == 3 &&
        this.$attrs.value.find(role => role == 2) === undefined
      ) {
        this.$attrs.value.push(2);
      }

      // update the field
      this.$emit("input", this.$attrs.value);
    }
  }
};
</script>

<style lang="scss">
.button {
  cursor: pointer !important;
}
</style>
