<template>
  <div class="field">
    <label v-if="label.length > 0" class="label is-small" v-text="label"></label>

    <p class="control combo">
      <span class="select is-small w-100">
        <select :value="value" @change="updateValue($event.target.value)">
          <option v-if="placeholder.length > 0" :value="null" v-text="placeholder"></option>
          <option
            v-for="item in items"
            :key="item[keyField]"
            :value="(item[keyField] != undefined) ? item[keyField] : item "
          >{{ item[field] !== undefined ? item[field].toUpperCase() : item.toUpperCase() }}</option>
        </select>
      </span>
      <!-- <span class="icon is-small is-left">
        <icon :icon="['fas', 'globe']" />
      </span>-->
    </p>
    <p class="help is-danger" v-text="error"></p>
  </div>
</template>

<script>
export default {
  name: "Select",
  props: {
    items: {
      type: Array,
      default: () => ""
    },
    field: {
      type: String,
      default: () => "value"
    },
    keyField: {
      type: String,
      default: () => "id"
    },
    name: {
      type: String,
      default: () => ""
    },
    placeholder: {
      type: String,
      default: () => ""
    },
    label: {
      type: String,
      default: () => ""
    },
    model: {
      type: String,
      default: () => ""
    },
    event: {
      type: Function,
      default: () => ""
    },
    error: {
      type: String,
      default: () => ""
    }
  },
  computed: {
    value() {
      return this.$attrs.value;
    }
  },
  mounted() {
    if (
      (this.$attrs.value === "" || this.$attrs.value === null) &&
      this.items.length > 0
    ) {
      if (this.placeholder.length > 0) this.updateValue(null);
      else this.updateValue(this.items[0].id);
    } else {
      this.updateValue(this.$attrs.value);
    }
  },
  methods: {
    updateValue(value) {
      this.$emit("input", value);

      if (this.event !== null) {
        const filterValue = parseInt(value) !== isNaN ? parseInt(value) : value;
        const object = this.items.find(
          item => item[this.keyField] === filterValue
        );

        this.event(value, object);
      }
    }
  }
};
</script>

<style lang="scss">
.button {
  cursor: pointer !important;
}

select {
  option {
    text-transform: uppercase !important;
  }
}
</style>
