<template>
  <div class="field">
    <label
      v-if="label.length > 0"
      class="label is-small"
      v-text="label"
    ></label>
    <!-- 
   // TASK STATUS EXAMPLE
    // REPLIED
    // NO REPLY
    // REPLY LATER
    // CLOSED -->
    <div class="field has-addons">
      <p v-for="status in statuses" :key="status.id" class="control">
        <a
          :name="status.key"
          :disabled="value !== status.id"
          :class="status.meta.optional"
          class="button is-small is-rounded"
          @click.prevent="updateValue(status.id)"
        >
          <span v-text="status.value"></span>
        </a>
      </p>
    </div>
    <p class="help is-danger" v-text="error"></p>
  </div>
</template>
<script>
import axios from '~/plugins/axios'
export default {
  name: 'Status',
  props: {
    name: {
      type: String,
      default: () => ''
    },
    activeText: {
      type: String,
      default: () => 'ACTIVE'
    },
    inactiveText: {
      type: String,
      default: () => 'INACTIVE'
    },
    label: {
      type: String,
      default: () => ''
    },
    model: {
      type: String,
      default: () => ''
    },
    error: {
      type: String,
      default: () => ''
    }
  },
  data() {
    return {
      statuses: []
    }
  },
  computed: {
    value() {
      return this.$attrs.value
    }
  },
  created() {
    axios.get('tasks/status').then(response => {
      this.statuses = response.data
    })
  },
  methods: {
    updateValue(value) {
      this.$emit('input', value)
    }
  }
}
</script>

<style lang="scss">
.button {
  cursor: pointer !important;
}
</style>
