<template>
  <div class="field">
    <label v-if="label.length > 0" class="label is-small" v-text="label"></label>

    <div class="field">
      <div class="file is-primary has-name is-boxed">
        <label class="file-label w-100">
          <input
            class="file-input"
            type="file"
            :name="name"
            multiple
            @change="Upload($event.target)"
          />
          <span class="file-cta">
            <span class="file-icon">
              <icon :icon="['fas', 'cloud-upload-alt']" />
            </span>
            <span class="file-label" v-text="placeholder"></span>
          </span>
          <span
            :class="{
              'has-background-light':
                currentFileName.length > 0 && currentFileName !== 'complete'
            }"
            class="file-name w-100 has-text-centered"
            v-text="currentFileName"
          ></span>
        </label>
      </div>
    </div>
    <p class="help is-danger" v-text="error"></p>
  </div>
</template>
<script>
import { File } from "../core/file";
export default {
  name: "Upload",
  props: {
    name: {
      type: String,
      default: () => ""
    },
    label: {
      type: String,
      default: () => ""
    },
    model: {
      type: String,
      default: () => ""
    },
    error: {
      type: String,
      default: () => ""
    },
    placeholder: {
      type: String,
      default: () => ""
    },
    extensions: {
      type: Array,
      default: () => ["docx"]
    },
    maxSize: {
      type: Number,
      default: () => 10
    },
    event: {
      type: String,
      default: () => "upload"
    }
  },
  data() {
    return {
      fileCount: 0,
      readFileInterval: null,
      reading: false,
      uploads: [],
      currentFileName: "",
      files: []
    };
  },

  mounted() {
    this.uploads = this.$attrs.value;
  },
  methods: {
    updateValue() {
      this.$emit("input", this.uploads);
    },
    Upload(element) {
      this.uploads = this.$attrs.value;
      // emmit event to the parent saying htat is uploading
      // eslint-disable-next-line no-undef
      Bus.$emit(this.event + "-uploading", true);

      // Reset File Name
      this.currentFileName = "";

      // Read all Files
      this.files = element.files;

      // Get Number of files
      this.fileCount = this.files.length;

      // While fileCount > 0 Read File

      this.readFileInterval = setInterval(() => {
        if (!this.reading && this.fileCount > 0) {
          this.fileCount--;
          this.readFile(this.files[this.fileCount]);
        } else {
          this.updateValue();
          this.currentFileName = "Complete";
          this.currentFileName = "";
          this.uploads = [];
          this.files = [];

          clearInterval(this.readFileInterval);

          setTimeout(() => {
            element.value = "";
            // eslint-disable-next-line no-undef
            Bus.$emit(this.event + "-uploading", false);
          }, 2000);
        }
      }, 2000);
    },
    readFile(file) {
      // Set var to access component inside other javascript functions
      const local = this;

      // Create new Instace of File
      const newFile = new File().parse(file);

      this.currentFileName = `Uploading ${newFile.name}`;

      // Set Reading to true
      this.reading = true;

      // check extension is not allowed stop execution and emit and message
      if (
        this.extensions.find(value => value === newFile.extension) === undefined
      ) {
        // stop reading
        this.reading = false;
        console.log(this.event + "-invalid-extension");
        // eslint-disable-next-line no-undef
        Bus.$emit(
          this.event + "-invalid-extension",
          this.extensions.join(" | ")
        );
        return;
      }

      // check size is not allowed stop execution and emit and message
      if (newFile.size / 1024 / 1024 > this.maxSize) {
        // stop reading
        this.reading = false;
        // eslint-disable-next-line no-undef
        Bus.$emit(this.event + "-size-exceeded", newFile, this.maxSize);
        return;
      }

      // create a reader Instance
      const reader = new FileReader();

      reader.onload = () => {
        local.reading = false;
        newFile.data = reader.result;
        local.uploads.push(newFile);
      };

      // Start reading file
      reader.readAsDataURL(file);
    }
  },
  mounted() {
    console.log(this.event);
  }
};
</script>

<style lang="scss">
.button {
  cursor: pointer !important;
}
</style>
