<template>
  <div class="field">
    <label v-if="label.length > 0" class="label is-small" v-text="label"></label>
    <div class="control">
      <input
        v-if="multiline === false"
        :disabled="disabled"
        :name="name"
        :value="value"
        class="input is-small is-rounded"
        :type="type"
        :placeholder="placeholder"
        @input="updateSelf($event.target.value)"
        @keypress.enter="keyPressEnter"
      />

      <textarea
        v-if="multiline === true"
        :rows="rows"
        :name="name"
        :value="value"
        class="textarea is-small is-rounded"
        :placeholder="placeholder"
        @input="updateSelf($event.target.value)"
      />
    </div>
    <p class="help is-danger" v-text="error"></p>
  </div>
</template>
<script>
export default {
  props: {
    keyPressEnter: {
      type: Function,
      default: () => null
    },
    value: {
      type: String,
      default: () => ""
    },
    name: {
      type: String,
      default: () => ""
    },
    label: {
      type: String,
      default: () => ""
    },
    type: {
      type: String,
      default: () => "text"
    },
    placeholder: {
      type: String,
      default: () => ""
    },
    model: {
      type: String,
      default: () => ""
    },
    disabled: {
      type: Boolean,
      default: () => false
    },
    multiline: {
      type: Boolean,
      default: () => false
    },
    rows: {
      type: Number,
      default: () => 5
    },
    error: {
      type: String,
      default: () => ""
    },
    event: {
      type: Function,
      default: () => null
    }
  },
  methods: {
    updateSelf(value) {
      this.$emit("input", value);

      if (this.event !== null) this.event(value);
    }
  }
};
</script>
